@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gloock&family=Quicksand:wght@300&family=Tilt+Prism&display=swap') ;

body {
  background-image: url('https://wallpaperaccess.com/full/2137901.jpg');
  background-size: auto;
  color: aliceblue;
  font-family: Gloock , serif;
}

table {
  background-color: rgb(119, 151, 151);
  border: 1px solid white;
  border-radius: 20px;
  color: black;
  opacity: 0.5;
  padding: 10px;
  position: absolute;
}

h1 {
  border-radius: 15px;
  color: rgb(237, 185, 0);
  padding: 5px;
}

th {
  color: rgb(237, 185, 0);
}

th, td {
  border: 1px solid white;
  border-radius: 15px;
  padding: 5px;
}

.spanFiltro {
  background-color: aliceblue;
  border: 1px solid white;
  border-radius: 15px;
  color: black;
  height: 15px;
  padding: 2px;
}

.inputPlanet, .inputNumber {
  border-radius: 10px;
  height: 20px;
  width: 300px;
}

.botaoFiltrar, select {
  border-radius: 8px;
  font-family: Gloock , serif;
  height: 25px;
  width: 110px;
}

.botaoRemoverFiltros {
  border-radius: 8px;
  font-family: Gloock , serif;
  height: 25px;
  width: 180px;
}
